modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_BACKEND_URL = "https://ffc530cf-ed0a-4912-a9d5-a591195dfd7a-00-352s92llktwki.sisko.replit.dev:3001"
VITE_SUPABASE_URL = "https://sblwqplagirgiroekopt.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNibHdxcGxhZ2lyZ2lyb2Vrb3RwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE1Mzc2NzYsImV4cCI6MjA3NzExMzY3Nn0.xRUejskjnfpX2UXi4oqX4ugI47LFeeBRSiryqTtB9RM"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38799
externalPort = 3003

[[ports]]
localPort = 45831
externalPort = 3002

[[ports]]
localPort = 46101
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
